<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%date |-%level in %logger - %message%n</pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>

